html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: #1a1a1d;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: white;
    align-items: center; 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}




.header,.hero-wrapper {
    width: 1420px;
    max-width: 100%;
    margin-bottom: 180px;
    padding-left: 16px;
}


.header{
    margin-top: 16px;
}

.container-fluid {
    padding: 0;
}


.icon-colour{
    color:#16aedb;
    font-size: 50px;
}


.icon-colour:hover{
    color: #fff;;
}

.navbar-nav a {
    color: aliceblue;
 
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: aliceblue;
}



.navbar-nav a:hover {
    color: #16aedb; 
}


li{
    font-size: 18px;
}

 .nav-contact-lg  {
    border: 2px solid #16aedb;
    border-radius: 8px;
    color: #16aedb;
    cursor: pointer
} 

.nav-contact-lg:hover  {
    border: 2px solid #ffffff;
   
} 
 
.hero-wrapper{
    display: flex;
    align-items: center;
}

.hero-intro{
    flex: 1;
    flex-shrink: 0;
    flex-basis: 40%;
 
}

.hero-intro h1{
    font-size: 3.5rem;  
    font-weight: 700;
    line-height: 1.2em;
}

.hero-intro p{
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
}

.hero-image{
    flex: 1;
    flex-basis: auto;
}

.hero-intro img{
    margin-top: 24px;
}

.hero-image-main{
    width: 100%;
    height: auto;
}

/*===== Flex porfolio boxes =====*/
/* Header font sizes */
.portf-header h1, .contact-header h2{
font-size: 2.5rem;  
font-weight: 600;
line-height: 1.2em;
}

.porfolio-wrapper, .jsArticle-wrapper, .footer-wrapper {
    max-width: 1420px ;
}


.project-wrapper{
    display: flex;
    padding: 0;
    gap: 24px;
   /*  text-align: left;  */
    flex-wrap: wrap; 
    max-width: 100%; /*This line contains the wrapper content within the window then resizing*/
    justify-content: start; 
}

#porfolio-header{
    font-size: 28px;
}

#porfolio-header {
    margin-left: 8px;
}


.project-box{
    width: auto;
    min-width: 300px;   
    max-width: 420px; 
    /* background-color: #1293BA; */
    background-color: #eef2f3;
    justify-content: center; 
    flex: 1;
    padding-bottom: 8px;
}

.project-box img{
   width: 100%;
   height: auto;
   max-height: 400px;
   object-fit: cover;
}

.project-box a{
    color: #121317;
    text-decoration: none;
}

.tag-line-wrapper {
    display: flex;
   /* Gap between tags */
    gap: 8px;
    padding: 16px 0px 8px 16px;
    flex-wrap: wrap;
}

.tag{
    background-color: #1a1a1d;;
    padding: 2px 4px 2px 4px;
    border-radius: 8px;
}

.box-text-wrapper {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    overflow-wrap: break-word;
}

.box-text-wrapper h2{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
}

.box-text-wrapper p{
    color: #121317;
    line-height: 1.6;
    font-weight: 400;
    font-size: 15px;
} 
.readmore-link{
    padding: 0px 8px 8px 16px;
    color: #1293BA;
    font-weight: 500;
}

.readmore-link:hover{
   text-decoration: underline;
}

.js-project-box {
    background-color: #b4e3ef;
}


.contact-wrapper{
    margin-top: 240px;
    margin-bottom: 240px;
}

.contact-form {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }

  .input-group .form-control {
    background-color: transparent; /* Remove background color */
    color: #fff; /* Change font color to your desired color */
    border-bottom: solid 2px #fff; /* Remove the default input border */
    border-radius: 0; /* Remove any border-radius if needed */
    text-align: center;
  }  

  .input-group .form-control::placeholder{
    color: #fff;
    text-align: center;
 
  }

  .input-group  span {
    background-color: transparent;
    /* Need to remove border first, to get rid of small border */
    border: none;
    border-bottom: solid 2px #fff;
    border-radius: 0; 
  }

  .input-group .bi-envelope {
    color: white;
    font-size: 20px;
  }

 /*  .main-wrapper {
    flex: 1 0 auto;
  } */

/* .email-input input {
font-size: 16px;
color: #fff;
background: none;
}
 */
.contact-header p{
    font-size: 16px;
}


.contact-container{
    max-width: 400px;
    margin: 0 auto;
}
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0;
  }
  
  /* Contact Button */
  button[type="submit"] {
    background-color: #16adda;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 0;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
    
  /* Contact Button END*/

.footer{
    background-color: #191e46;    
    flex: 0 0 auto;
}

footer h3 {
    font-size: 0.87rem;
}
.link-hover:link{
    text-decoration:none;
}

.link-hover:hover{
    text-decoration: underline solid 2px white;
}

/* Responsive porfolio section */

 @media (max-width: 1080px) {
    

    .header {
        margin-bottom: 40px;
    }
    .hero-wrapper{
        flex-direction: column-reverse;
        margin-bottom: 40px;
    }

    .hero-image {
        margin-bottom: 40px;
    }
   
    
  } 

  @media (max-width: 992px){
    .nav-contact-lg  {
        border: none;
        box-shadow: none;
    } 
    .nav-contact-lg:hover  {
        /* border: 2px solid #026a89;  */
        /* background-color: #16aedb ; */
        box-shadow: none;
    } 

    .nav-contact-lg a  {
        color:white;
    } 
   
    
  }



/* Portfolio Case Study */

.back-link a{
    color: #16adda;
}

.back-link a:hover{
    color: #ffffff;
}