:root {
    --accent-color: #16aedb;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: #1a1a1d;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: white;
    align-items: center; 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

.header,.hero-wrapper,.about-header, .service-section {
    width: 1420px;
    max-width: 100%;
    margin-bottom: 180px;
    padding-left: 16px;
    padding-right: 16px;
}

.header{
    margin-top: 16px;
}

.container-fluid {
    padding: 0;
}

.icon-colour{
    color:var(--accent-color);
    font-size: 50px;
}

.icon-colour:hover{
    color: #fff;;
}

/* Top navigation bar */

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-nav a {
    color: aliceblue;
 
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: aliceblue;
}

.navbar-nav a:hover {
    color: var(--accent-color); 
}

li{
    font-size: 18px;
}

.nav-contact-lg  {
    border: 2px solid #ffffff;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer
} 

.nav-contact-lg:hover  {
    border: 2px solid #16aedb;
    color: var(--accent-color); 
   
} 
 
/* HERO SECTION - START HERE */

.hero-wrapper{
    display: flex;
    align-items: center;
}

.hero-intro{
    flex: 1;
    flex-shrink: 0;
    flex-basis: 40%;
 
}

.hero-intro h1{
    font-size: 3.5rem;  
    font-weight: 700;
    line-height: 1.2em;
}

.hero-intro p{
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
}

h2.hero-desc{
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.2;
}

strong{
    font-size: 1.75rem;
}

.hero-image{
    flex: 1;
    flex-basis: auto;
}

.hero-intro img{
    margin-top: 24px;
}

.hero-image-main{
    width: 100%;
    height: auto;
}

span.header-accent{
    /*color: #c62b52;*/
    color: var(--accent-color);
    
}

/*===== Service - START HERE =====*/

.service-section{
    background: #0d0d0d;
    border-radius: 20px;
    padding: 64px;
}

.service-image{
    width: 100%;
    height: auto;
    object-fit: contain;
}


@media (max-width: 1200px) {
    .service-image-col-wrap{
        margin-top: 24px;
    }
}

@media (max-width: 960px) {
    .service-section{
        padding: 32px;
    }
    .service-image-col-wrap{
        margin-top: 24px;
    }
}

@media (max-width: 768px) {
    .card-col-wrap,.service-image-col-wrap{
        margin-top: 24px;
    }
}





.card-row-wrap{
  padding-top: 12px;
    padding-bottom: 12px;
}






.service-card-wrap{
    background-color: #0d0d0d;
    border: 1px solid #323238;
    overflow: hidden;
    transition: transform 0.6s ease;
    box-shadow: none;
    cursor: default;
}


.service-card-wrap:hover{
    border: 1px solid var(--accent-color);
    transform: translateY(-12px); /* Adjust card hover height here */
    box-shadow: 0 2px 4px rgba(22, 173, 219, 0.281);  /* Adjust card shadow size and color here */
}

h3.service-card-heading{
    color: #fff;
    font-size: 1.25rem;
}

p.service-card-text{
    color: #69696b;
}

/*===== Service - END HERE =====*/


/*===== Flex porfolio boxes =====*/
/* Header font sizes */
.portf-header h1, .contact-header h2{
font-size: 2.5rem;  
font-weight: 600;
line-height: 1.2em;
}

.porfolio-wrapper, .jsArticle-wrapper, .footer-wrapper {
    max-width: 1420px ;
}

.porfolio-wrapper {
    margin-bottom: 180px;
}

@media (max-width: 960px) {
    
    .porfolio-wrapper {
        margin-bottom: 40px;
    }
   
}

.project-wrapper{
    display: flex;
    padding: 0;
    gap: 24px;
   /*  text-align: left;  */
    flex-wrap: wrap; 
    max-width: 100%; /*This line contains the wrapper content within the window then resizing*/
    justify-content: start; 
}

#porfolio-header{
    font-size: 28px;
}
/* Porfolio card start */

.project-box{
     /* Makes it a flex container to anchor "read more" to bottom of card*/
    display: flex;        
    flex-direction: column; 
    width: auto;
    min-width: 420px;   
    max-width: 445px; 
    /* background-color: #1293BA; */
    background-color: #eef2f3;
    justify-content: center; 
    flex: 1;
    padding-bottom: 8px;
  
   
}

@media (max-width: 500px) {
    
    .project-box {
        min-width: 300px;   
    }
 } 


.project-box img{
   width: 100%;
   height: auto;
   max-height: 400px;
   object-fit: cover;
}

.project-box a{
    color: #121317;
    text-decoration: none;
}

.tag-line-wrapper {
    display: flex;
   /* Gap between tags */
    gap: 8px;
    padding: 16px 0px 8px 16px;
    flex-wrap: wrap;
}

.tag{
    background-color: #1a1a1d;;
    padding: 2px 4px 2px 4px;
    border-radius: 8px;
}

.box-text-wrapper {
    flex-grow: 1; /* To fill all space inside card  */
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    overflow-wrap: break-word;
}

.box-text-wrapper h2{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
}

.box-text-wrapper p{
    color: #121317;
    line-height: 1.6;
    font-weight: 400;
    font-size: 15px;
} 

.box-text-wrapper-white p{
    color: #fafafb;
}
.readmore-link{
    padding: 0px 8px 8px 16px;
    color: #1293BA;
    font-weight: 500;
 
}

.readmore-link:hover{
   text-decoration: underline;
}



/*====== Porfolio card end ======*/

.js-project-box {
    background-color: #323238;
}

/* Contact Section */
.contact-wrapper{
    margin-top: 240px;
    margin-bottom: 240px;
}

.contact-form {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }

  .input-group .form-control {
    background-color: transparent;
    color: #fff; 
    border-bottom: solid 2px #fff; 
    border-radius: 0; 
    text-align: center;
  }  

  .input-group .form-control::placeholder{
    color: #fff;
    text-align: center;
 
  }

  .input-group  span {
    background-color: transparent;
    /* Need to remove border first, to get rid of small border around the icon*/
    border: none;
    border-bottom: solid 2px #fff;
    border-radius: 0; 
  }

  .input-group .bi-envelope {
    color: white;
    font-size: 20px;
  }

.contact-header p{
    font-size: 16px;
}


.contact-container{
    max-width: 400px;
    margin: 0 auto;
}
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0;
  }
  
  /* Contact Button */
  button[type="submit"] {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 0;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
    
  /* Contact Button END*/

.footer{
    background-color: #323238;    
    flex: 0 0 auto;
}

footer h3 {
    font-size: 0.87rem;
}
.link-hover:link{
    text-decoration:none;
}

.link-hover:hover{
    text-decoration: underline solid 2px white;
}

/* Responsive porfolio section */

 @media (max-width: 1080px) {
    
    .header {
        margin-bottom: 80px;
    }
    .hero-wrapper{
        flex-direction: column-reverse;
        margin-bottom: 80px;
    }

    .hero-image {
        margin-bottom: 80px;
    }
   
    
  } 

  @media (max-width: 992px){
    .nav-contact-lg  {
        border: none;
        box-shadow: none;
    } 
    .nav-contact-lg:hover  {
        /* border: 2px solid #026a89;  */
        /* background-color: #16aedb ; */
        box-shadow: none;
    } 

    .nav-contact-lg a  {
        color:white;
    } 
   
    
  }


/* Portfolio Case Study */

.back-link a{
    color: var(--accent-color);
}

.back-link a:hover{
    color: #ffffff;
}

/* Project link button */
.project-link-button {
    border: 2px solid #ffffff;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer
} 

.project-link-button:hover  {
    border: 2px solid var(--accent-color);
    color: var(--accent-color); 
}

.project-decription-wrap p {
    font-weight: 600;
}

.custom-border {
    border-top: 1px solid #dee2e6;  
    border-bottom: 1px solid #dee2e6;
    width: 100%; 
    max-width: calc(100% - 24px); /* Fix the border extended 12px left right outside the container due to bootstrap container padding css*/
    box-sizing: border-box;  
    
  }
    

/* ====== POST PAGE ====== */  

/* Content styling */
.post-content p{
    margin-bottom: 48px;
}

.post-content h2{
    margin-bottom: 24px;
    font-weight: 700;
}





/* ====== About me page ====== */

.about-header{
    margin-bottom: 180px;
}


.about-header h1{
font-size: 3.5rem;  
font-weight: 700;
line-height: 1.2em;
text-decoration: solid 1px white;
}

.card-body {
    margin: 0;
    overflow: hidden; /* Prevent scrollbars due to snowfall */
   
}

.snow-container h1,p{
    color: white;
}
.snow-container h1{
    font-size: 36px;
    font-weight: 700;
}

.snow-container p{
    font-size: 20px;
    font-weight: 500;
}

.flower{
    max-width: 300px;
}