:root {
    --accent-color: #0064fd;
    --accent-color2: #16aedb;
    --main-background-color: #1a1a1d;
}


/*****Bootstrap overrides *****/  

.offcanvas{
	--bs-offcanvas-zindex: 1045;
	--bs-offcanvas-width: 800px;
	--bs-offcanvas-height: 30vh;
	--bs-offcanvas-padding-x: 1rem;
	--bs-offcanvas-padding-y: 1rem;
	--bs-offcanvas-color: var(--bs-body-color);
	--bs-offcanvas-bg: var(--bs-body-bg);
	--bs-offcanvas-border-width: var(--bs-border-width);
	--bs-offcanvas-border-color: var(--bs-border-color-translucent);
	--bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	--bs-offcanvas-transition: transform 0.3s ease-in-out;
	--bs-offcanvas-title-line-height: 1.5;
}

.form-label {
    margin-bottom: 0.8rem;
    font-size: 20px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 16px .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #020202;
    background-clip: padding-box;
    border: none; 
    border-radius: 0px;
    border-bottom: 1px solid white;
   
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control::placeholder{
    color: #393a3a;
}



/***** Sections *****/  


html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }


/***** End Section *****/
body{
    min-height: 100vh;
    background-color: #1a1a1d;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: white;
    align-items: center; 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

.header,.hero-wrapper,.about-header, .service-section {
    width: 1420px;
    max-width: 100%;
    margin-bottom: 180px;
    padding-left: 16px;
    padding-right: 16px;
}

.header{
    margin-top: 16px;
}

.container-fluid {
    padding: 0;
}

.icon-colour{
    color:var(--accent-color);
    font-size: 50px;
    margin-right: 16px;
}

.icon-colour:hover{
    color: #fff;;
}

/* Top navigation bar */

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-nav a {
    color: aliceblue;
 
}

/* Link underline animation - width = link container */
.underline {
    border: 2px solid transparent;
    position: relative;
    text-decoration: none;
  }
  .underline::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .underline:hover::after {
    width: 100%;
    
  }

/* Mobile Header - START */

@media (max-width: 991px) {
    
    


    .navbar-nav a {
        font-size: 36px;
        font-weight: 400;
    }

    .navbar-nav {
        padding-top: 96px;
        border-bottom: 1px solid rgb(255, 255, 255, 0.25);
        padding-bottom: 44px;
    
    }

    .nav-link{
        padding: 0;
    }
    .about-nav-item{
        margin-bottom: 32px;
    }
}

/* Mobile Header - END */

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: aliceblue;
}

.navbar-nav a:hover {
    color: var(--accent-color); 
}

li{
    font-size: 18px;
}

 
/* HERO SECTION - START HERE */

.hero-wrapper{
    display: flex;
    align-items: center;
}

.hero-intro{
    flex: 1;
    flex-shrink: 0;
    flex-basis: 40%;
 
}

.hero-intro h1{
    font-size: 3.5rem;  
    font-weight: 700;
    line-height: 1.2em;
}

.hero-intro p{
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
}

h2.hero-desc{
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.2;
}

strong{
    font-size: 1.75rem;
}

.hero-image{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hero-image::before { /* Fixed the image cls issue reserving the correct aspect ratio space */
    content: "";
    display: block;
    padding-top: 58.7%; /* IMPORT BIT - calculate the aspect ratio of image and set it padding-top percentage - (830 / 1414) * 100% = 58.7% */
}

.hero-intro img{
    margin-top: 24px;
}

.hero-image-main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

span.header-accent{
    /*color: #c62b52;*/
    color: var(--accent-color);
    
}

/*===== Service - START HERE =====*/

.service-section{
    background: #0d0d0d;
    border-radius: 20px;
    padding: 64px;
}

.service-section h2{
    font-size: 2.5rem;
}

.service-image{
    width: 100%;
    height: auto;
    object-fit: contain;
}

p.services-overview {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .service-image-col-wrap{
        margin-top: 24px;
    }
}

@media (max-width: 960px) {
    .service-section{
        padding: 32px;
    }
    .service-image-col-wrap{
        margin-top: 24px;
    }
}

@media (max-width: 768px) {
    .card-col-wrap,.service-image-col-wrap{
        margin-top: 24px;
    }
}

.card-row-wrap{
  padding-top: 12px;
    padding-bottom: 12px;
}

.service-card-wrap{
    background-color: #0d0d0d;
    border: 1px solid #323238;
    overflow: hidden;
    transition: transform 0.6s ease;
    box-shadow: none;
    cursor: default;
}

.service-card-wrap:hover{
    border: 1px solid var(--accent-color);
    transform: translateY(-12px); /* Adjust card hover height here */
    box-shadow: 0 2px 4px rgba(22, 173, 219, 0.281);  /* Adjust card shadow size and color here */
}

h3.service-card-heading{
    color: #fff;
    font-size: 1.25rem;
    padding-bottom: 8px;
}

p.service-card-text{
    color: #cccccc;
    white-space: pre-line;
}

@media (max-width: 600px) {
    p.service-card-text{
        white-space: normal;
    }
    
}

/*===== Service - END HERE =====*/


/*===== Flex porfolio boxes =====*/
/* Header font sizes */
.portf-header h2, .contact-header h2{
font-size: 2.5rem;  
font-weight: 500;
line-height: 1.2em;
}

.porfolio-wrapper, .jsArticle-wrapper, .footer-wrapper {
    max-width: 1420px ;
}



.porfolio-wrapper {
    margin-bottom: 180px;
}

@media (max-width: 960px) {
    
    .porfolio-wrapper {
        margin-bottom: 40px;
    }
   
}

.project-wrapper{
    display: flex;
    padding: 0;
    gap: 24px;
   /*  text-align: left;  */
    flex-wrap: wrap; 
    max-width: 100%; /*This line contains the wrapper content within the window then resizing*/
    justify-content: start; 
}

#porfolio{
    font-size: 28px;
}
/* Porfolio card start */

.project-box{
     /* Makes it a flex container to anchor "read more" to bottom of card*/
    display: flex;        
    flex-direction: column; 
    width: auto;
    min-width: 420px;   
    max-width: 445px; 
    background-color: #eef2f3;
    justify-content: center; 
    flex: 1;
    padding-bottom: 8px;
  
   
}

@media (max-width: 500px) {
    
    .project-box {
        min-width: 300px;   
    }
 } 


.project-box img{
   width: 100%;
   height: auto;
   max-height: 400px;
   object-fit: cover;
}

.project-box a{
    color: #121317;
    text-decoration: none;
}

.tag-line-wrapper {
    display: flex;
   /* Gap between tags */
    gap: 8px;
    padding: 16px 0px 8px 16px;
    flex-wrap: wrap;
}

.tag{
    background-color: #1a1a1d;;
    padding: 2px 4px 2px 4px;
    border-radius: 8px;
}

.box-text-wrapper {
    flex-grow: 1; /* To fill all space inside card  */
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    overflow-wrap: break-word;
}

.box-text-wrapper h2{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
}

.box-text-wrapper p{
    color: #121317;
    line-height: 1.6;
    font-weight: 400;
    font-size: 15px;
} 

.box-text-wrapper-white p{
    color: #fafafb;
}
.readmore-link{
    padding: 0px 8px 8px 16px;
    color: var(--accent-color);
    font-weight: 500;
 
}

.readmore-link:hover{
   text-decoration: underline;
}



/*====== Porfolio card end ======*/

.js-project-box {
    background-color: #323238;
}

/* Contact Section */
.contact-wrapper{
    margin-top: 240px;
    margin-bottom: 240px;
}

.contact-form {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }

  .input-group .form-control {
    background-color: transparent;
    color: #fff; 
    border-bottom: solid 2px #fff; 
    border-radius: 0; 
    text-align: center;
  }  

  .input-group .form-control::placeholder{
    color: #fff;
    text-align: center;
 
  }

  .input-group  span {
    background-color: transparent;
    /* Need to remove border first, to get rid of small border around the icon*/
    border: none;
    border-bottom: solid 2px #fff;
    border-radius: 0; 
  }

  .input-group .bi-envelope {
    color: white;
    font-size: 20px;
  }

.contact-header p{
    font-size: 16px;
}


.contact-container{
    max-width: 400px;
    margin: 0 auto;
}
  .form-group {
    margin-bottom: 20px;
  }
  
  
  
/* Submit Button - START */
  button[type="submit"] {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    background-color: #323238 ;
    border: none;
    padding: 16px 48px;
    border-radius: 25px;
    overflow: hidden; 
    cursor: pointer;
    caret-color: transparent; 
    border: 1.5px solid  #323238;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: var(--accent-color);
    border: 1.5px solid #323238;
  }

 
  button[type="submit"]:active {
    border: 1.5px solid var(--accent-color) ;
  }

    
/* Submit Button - END */

/* Contact me footer - START */
.contact-me-wrapper{
    background-color: #020202;  
    padding-top: 64px;
    padding-bottom: 64px;
  }

.contact-me-container{
    width: 1420px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-me-h1{
    font-size: 3rem;
}




@media (max-width: 1090px){
    .contact-me-container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .contact-header-wrapper p, .contact-button-wrapper {
        padding-top: 16px;
    }

   
}

.button-getintouch{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    background-color: var(--main-background-color) ;
    border: none;
    padding: 16px 48px;
    border-radius: 25px;
    overflow: hidden; 
    cursor: pointer;
    caret-color: transparent; 
    transition: padding 0.2s ease-in-out, background-color 0.2s ease-in-out;
}


.getintouch-header{
    background-color: var(--accent-color) ;
}

.button-getintouch span {
    position: relative;
    left: 5px; /* Fine adjust button text position 
    /* Control the speed the button text speed  #16aedb */
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }

.button-getintouch:hover{
   /* Fine adjust button final size - post animation*/
    padding-left: 40px;
    padding-right: 10px; 
    background-color: #323238 ;
  }  

.button-getintouch:hover span { 
    /* Animate the button text left or right */
    transform: translateX(-20px);
  }




.arrow-svg {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
  }

.button-getintouch:hover .arrow-svg {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  
/* Add vertical animation on click */
.button-getintouch:active { 
    box-shadow: 0 0 0 0.25rem rgba(49,132,253,.5);
  }  

/* Contact me footer - END */

/* Footer links  - START */
.footer-wrapper{
    padding-top: 32px;
}

@media (max-width: 768px){
    .footer-wrapper{
        padding-top: 48px;
        padding-bottom: 24px;
    }
    .footer-list-wrap li{
        padding-top: 8px;
    }
}

.footer{
    background-color: var(--main-background-color);    
    flex: 0 0 auto;
}

.footer-list-wrap{
    border-bottom: 1px rgb(255, 255, 255, 0.25) solid;
}

footer h3 {
    font-size: 0.87rem;
}
.link-hover:link{
    text-decoration:none;
}

.link-hover:hover{
    text-decoration: underline solid 2px white;
}

/* Footer links  - END */

/* Responsive porfolio section */

 @media (max-width: 1080px) {
    
    .header {
        margin-bottom: 80px;
    }
    .hero-wrapper{
        flex-direction: column-reverse;
        margin-bottom: 80px;
    }

    .hero-image {
        margin-bottom: 80px;
    }
   
    
  } 

  @media (max-width: 992px){
    .nav-contact-lg  {
        border: none;
        box-shadow: none;
    } 
    .nav-contact-lg:hover  {
        /* border: 2px solid #026a89;  */
        /* background-color: #16aedb ; */
        box-shadow: none;
    } 

    .nav-contact-lg a  {
        color:white;
    } 
   
    
  }


/* Portfolio Case Study */

.back-link a{
    color: var(--accent-color);
}

.back-link a:hover{
    color: #ffffff;
}

/* Project link button */
.project-link-button {
    border: 2px solid #ffffff;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer
} 

.project-link-button:hover  {
    border: 2px solid var(--accent-color);
    color: var(--accent-color); 
}

.project-decription-wrap p {
    font-weight: 600;
}

.custom-border {
    border-top: 1px solid #dee2e6;  
    border-bottom: 1px solid #dee2e6;
    width: 100%; 
    max-width: calc(100% - 24px); /* Fix the border extended 12px left right outside the container due to bootstrap container padding css*/
    box-sizing: border-box;  
    
  }
    

/* ====== POST PAGE ====== */  

/* Content styling */
.post-content p{
    margin-bottom: 48px;
}

.post-content h2{
    margin-bottom: 24px;
    font-weight: 700;
}

.blog-nav-arrow:hover .bi-caret-left-fill path,
.blog-nav-arrow:hover .bi-caret-right-fill path {
    fill: var(--accent-color); /* Change to the desired color on hover */
  }


/* ====== About me page ====== */

.about-header{
    margin-bottom: 180px;
}


.about-header h1{
font-size: 3.5rem;  
font-weight: 700;
line-height: 1.2em;
text-decoration: solid 1px white;
}

.pill-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} 

.skill-tag-pill{
    background-color: #393a3a;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
    cursor: default;
    transition: background-color 0.3s;  
}

.skill-tag-pill:hover{
    background-color: #16aedb;
}

.service-header {
    font-size: 18px; 
    font-weight: bold;
    margin-bottom: 10px;
}

/* Technical Skills Section Header */
.technical-header {
    font-size: 18px; 
    font-weight: bold;
    margin-top: 20px; 
}

/* Visual Break */
.break {
    border-top: 2px solid #ccc; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

/* Form thank you message - START */
.message-thankyou{
    background-color: #020202;
    padding: 36px;
    border-radius: 20px;
}


/* Other Project */
.other-p-flex-container {
    display: flex;
    gap: 18px;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
  }

  .other-projects {
    padding-left: 10px;
    padding-right: 10px;
  }

  .other-p-flex-item {
    flex: 0 0 calc(25% - 18px);
    text-align: center; 
  }
  .other-p-flex-item .btn {
    width: 100%;
  }

  @media(max-width: 960px ){
    .other-p-flex-item {
        flex: 0 0 calc(50% - 18px);

      }
}  

@media(max-width: 571px ){
    .other-p-flex-item {
        flex: 0 0 100%;

      }
}
