---
layout: base.njk
title: David Balionis - Full Stack Web Developer | About me
---
<div class="container about-header ">
    <div class="row justify-content-between">
        <div class="col-md-6 order-1 order-md-1 mb-5 me-5">
            <h1 class="about-heading-main mb-5">About Me<span class="header-accent">.</span></h1>
                <hr class="mt-5 mb-5 p-0">
                <p class="lead">Hello! I'm David. I'm a freelance web developer with a particular passion for designing and developing cool and dynamic WordPress websites. </p> 
                <p class="lead">I work with Manchester and Leeds based companies and individuals to build custom Wordpress themes or add new features. I can provide support for fixing issues with your existing WordPress sites. </p>
            <h2 class="about-heading mt-5">My Services</h2>
                <hr class="mt-4 mb-4 p-0">
                <div class="pill-container">
                    <span class="skill-tag-pill">WordPress Development</span>
                    <span class="skill-tag-pill">Custom Theme Development</span>
                    <span class="skill-tag-pill">E-commerce Solutions (WooCommerce)</span>
                    <span class="skill-tag-pill">Responsive Web Design</span>
                    <span class="skill-tag-pill">Google Analytics</span>
                    <span class="skill-tag-pill">Slow Site Optimization</span>
                    <span class="skill-tag-pill">WordPress Plugin Setup and Updates</span>
                    <span class="skill-tag-pill">Website Hosting and Migration</span>
                    <span class="skill-tag-pill">Fix Broken Features</span>
                    <span class="skill-tag-pill">Emergency Website Repair</span>
                </div>
             <h2 class="about-heading mt-5">Technical Skills</h2>
             <hr class="mt-4 mb-4 p-0">
                <div class="pill-container">
                    <span class="skill-tag-pill">HTML</span>
                    <span class="skill-tag-pill">PHP</span>
                    <span class="skill-tag-pill">CSS</span>
                    <span class="skill-tag-pill">JavaScript</span>
                    <span class="skill-tag-pill">jQuery</span>
                    <span class="skill-tag-pill">Node.js</span>
                    <span class="skill-tag-pill">MySQL</span>
                    <span class="skill-tag-pill">WordPress</span>
                    <span class="skill-tag-pill">ACF</span>
                    <span class="skill-tag-pill">Bootstrap</span>
                    <span class="skill-tag-pill">Lenis</span>
                    <span class="skill-tag-pill">Webpack</span> 
                    <span class="skill-tag-pill">11ty SSG</span>
                    <span class="skill-tag-pill">Nunjucks</span>
                    <span class="skill-tag-pill">Netlify</span>
                    <span class="skill-tag-pill">Google API</span>
                    <span class="skill-tag-pill">Amazon Web Services EC2</span>
                    <span class="skill-tag-pill">Microsoft Azure</span>
                    <span class="skill-tag-pill">Pipedream</span>
                    <span class="skill-tag-pill">Git</span>
                    <span class="skill-tag-pill">GitHub</span>
                    <span class="skill-tag-pill">Figma</span>
                    <span class="skill-tag-pill">Adobe Illustrator</span>
                    <span class="skill-tag-pill">Trello</span>
                </div>
            <p class="mb-5"></p>

        </div>
         <div class="col-md-5 order-2 order-md-1">
            <img src="" alt="" class="img-fluid">
        </div>
    </div>
</div>


