---
layout: base.njk
title: David Balionis - Full Stack Web Developer | About me
---
<div class="container about-header ">
    <div class="row justify-content-between">
        <div class="col-md-6 order-1 order-md-1 mb-5 me-5">
            <h1 class="about-heading-main mb-5">About me</h1>
            <p>Hello! I'm David, a full-stack developer with a particular passion for designing and developing intuitive, dynamic websites.  </p>
            <p class="mb-5">My journey began with creating websites on WordPress. Its versatility and the expansive support community enabled me to undertake a real-world project, assisting a local automotive paint business in establishing an e-commerce presence. This experience inspired me to further deepen my skills, leading me to complete the Coders Guild Bootcamp, which focused on web development using JAMstack principles. My goal? To craft more custom, responsive, scalable, and maintainable websites.</p>
            <h2 class="about-heading">Skills & Expertise</h2>
            <p>Technically speaking, I'm proficient in JavaScript and am adept with front-end frameworks like Bootstrap and React. I'm also familiar with the static site generator, 11ty. A staunch advocate for mobile-first design, I prioritize responsive and adaptive layouts. Moreover, I'm a dedicated Git committer and am continuously honing my code documentation skills to be an even better team player and collaborative coder.</p>
            <p class="mb-5">Beyond technicalities, I take great pride in engaging my clients at every phase of a project's lifecycle. I firmly believe that continuous and sincere communication not only ensures a superior end product but also facilitates quick adaptations to evolving requirements.</p>
            <h2 class="about-heading">Outside the IDE</h2>
            <p>Outside of coding, I'm a passionate traveller. City breaks captivate me with their rich culinary scenes, while beach holidays have a knack for emptying my wallet with their enticing water sports. Away from the screen, I’m a dedicated cook, with Mexican cuisine holding a special place in my heart. This culinary venture enhances my creativity, multitasking prowess, and meticulous attention to detail.</p>
        </div>
         <div class="col-md-5 order-2 order-md-1">
            <img src="" alt="" class="img-fluid">
        </div>
    </div>
</div>


