---
layout: base.njk
eleventyImport:
  collections: ["posts"]
---    
  
       
 <header class="cc-hero">
  <div class="cc-hero-content-wrap">
    <div class="cc-hero-headers">
      <h2 class="cc-hero-subtitle">Web Developer</h2>
      <h1 class="cc-hero-title">David Balionis</h1>
    </div>
    <div class="cc-hero-skills-wrap">
      <ul class="cc-hero-skills-pills">
        <li class="cc-skill-pill">PHP</li>
        <li class="cc-skill-pill">JavaScript</li>
        <li class="cc-skill-pill">HTML</li>
        <li class="cc-skill-pill">CSS</li>
        <li class="cc-skill-pill">Liquid</li>
        <li class="cc-skill-pill">WordPress</li>
        <li class="cc-skill-pill">Shopify</li>
      </ul>
    </div>
  </div>
 </header>

 <section class="cc-portfolio">
  <div class="cc-portfolio-header-wrap">
    <h2><i class="bi bi-file-earmark-fill" style="font-size: 2rem; color: cornflowerblue; margin-right: 12px;"></i>My Work</h2>
  </div>
  <div class="cc-portfolio-gallery-wrap">
    <div class="cc-portfolio-card">
      <div class="cc-card-image-wrap">
        <img src='../images/Castlet-frame.png'>
      </div>
      <a href="https://www.castletltd.com/" target="_blank" rel="noopener noreferrer">
        <div class="cc-card-title">
          <h3>Castlet</h3>
        </div>
      </a>
      </div>  
    <div class="cc-portfolio-card">
      <div class="cc-card-image-wrap">
        <img src='../images/Ekspan.png'>
      </div>
      <a href="https://www.ekspan.com/" target="_blank" rel="noopener noreferrer">
        <div class="cc-card-title">
          <h3>Ekspan</h3>
        </div> 
      </a>
    </div>    
    <div class="cc-portfolio-card">
      <div class="cc-card-image-wrap">
        <img src='../images/Whiteley-new.png'>
      </div>
      <a href="https://www.whiteley.co.uk/" target="_blank" rel="noopener noreferrer">
        <div class="cc-card-title">
          <h3>Whiteley</h3>
        </div> 
      </a>
    </div>
    <div class="cc-portfolio-card">
      <div class="cc-card-image-wrap">
        <img src='../images/BondIt-frame.png'>
      </div>
      <a href="https://bonditgroup.com/" target="_blank" rel="noopener noreferrer">
        <div class="cc-card-title">
          <h3>Bond It Group</h3>
        </div> 
      </a>
    </div>
    <div class="cc-portfolio-card">
      <div class="cc-card-image-wrap">
        <img src='../images/Robershaws-Frame.png'>
      </div>
      <a href="https://robertshawsgardenmachinery.co.uk/" target="_blank" rel="noopener noreferrer">
        <div class="cc-card-title">
          <h3>Robertshaws Garden Machinery</h3>
        </div> 
      </a>
    </div>
  

    <div class="cc-portfolio-card">
      <div class="cc-card-image-wrap">
        <img src='../images/Chadwick Lawrence.png'>
      </div>
      <a href="https://www.chadwicklawrence.co.uk/health-and-wellness/" target="_blank" rel="noopener noreferrer">
        <div class="cc-card-title">
          <h3>Chadwick Lawrence</h3>
        </div> 
      </a>
    </div>
  </div>
 </section>


