---
layout: base.njk
eleventyImport:
  collections:
    posts: collections.posts
    fantastic: collections.fantasticPosts
---    
  
       
 <header class="cc-hero">
  <div class="cc-hero-content-wrap">
    <div class="cc-hero-headers">
      <h2 class="cc-hero-subtitle">Web Developer</h2>
      <h1 class="cc-hero-title">David Balionis</h1>
    </div>
    <div class="cc-hero-skills-wrap">
      <ul class="cc-hero-skills-pills">
        <li class="cc-skill-pill">PHP</li>
        <li class="cc-skill-pill">JavaScript</li>
        <li class="cc-skill-pill">HTML</li>
        <li class="cc-skill-pill">CSS</li>
        <li class="cc-skill-pill">Liquid</li>
        <li class="cc-skill-pill">WordPress</li>
        <li class="cc-skill-pill">Shopify</li>
      </ul>
    </div>
    <div class="cc-hero-socials">
      <a href="https://github.com/DbalionisLoader" target="_blank" aria-label="Visit my GitHub page" rel="noreferrer noopener">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="icon-colour" viewBox="0 0 16 16">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
        </svg>
      </a>
      <a href="https://www.linkedin.com/in/david-balionis-7ab725174/" target="_blank" aria-label="Visit my Linkedin profile"  rel="noreferrer noopener">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="icon-colour" viewBox="0 0 16 16">
          <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
        </svg>
       </a>
      <a href="https://codepen.io/dbalionis" target="_blank" aria-label="Visit my Codepen portfolio" rel="noreferrer noopener">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" class="icon-colour" viewBox="0 0 512 512">
          <path fill="currentColor" d="M502.3 159.7l-234-156c-8-4.9-16.5-5-24.6 0l-234 156C3.7 163.7 0 170.8 0 178v156c0 7.1 3.7 14.3 9.7 18.3l234 156c8 4.9 16.5 5 24.6 0l234-156c6-4 9.7-11.1 9.7-18.3V178c0-7.1-3.7-14.3-9.7-18.3zM278 63.1l172.3 114.9-76.9 51.4L278 165.7V63.1zm-44 0v102.6l-95.4 63.7-76.9-51.4L234 63.1zM44 219.1l55.1 36.9L44 292.8v-73.7zm190 229.7L61.7 334l76.9-51.4L234 346.3v102.6zm22-140.9l-77.7-52 77.7-52 77.7 52-77.7 52zm22 140.9V346.3l95.4-63.7 76.9 51.4L278 448.8zm190-156l-55.1-36.9L468 219.1v73.7z"/>
        </svg>
      </a>
    </div>
  </div>
 </header>

 <section class="cc-portfolio">
  <div class="cc-portfolio-header-wrap">
    <h2><i class="bi bi-file-earmark-fill" style="font-size: 2rem; color: cornflowerblue; margin-right: 12px;"></i>My Work</h2>
  </div>
  <div class="cc-portfolio-gallery-wrap">

{% if collections.fantasticPosts and collections.fantasticPosts.length > 0 %}
    {% for post in collections.fantasticPosts %}
    
    <div class="cc-portfolio-card">
        {% if  post.data.tech %}
        <ul class="cc-hero-skills-pills cc-tech-skill-pill-list">
          {% for techitem in post.data.tech %}
            <li class="cc-tech-pill">{{ techitem }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      <div class="cc-card-image-wrap">  
        <a href="{{ post.data.websiteLink }}" target="_blank" rel="noopener noreferrer">
          <picture>
           <source media="(min-width:950px)" srcset="{{ post.data.imageUrl }}">
            <img src="{{ post.data.mobileUrl }}" alt="{{ post.data.imageAlt }}">
          </picture>
      </div>

          <div class="cc-card-title">
            <h3>{{ post.data.title }}</h3>
          </div>
        </a>
      </div> 
    {% endfor %}  
  {% endif %}   

  </div>
 </section>


