---
layout: base.njk
---
{% set previousPost = collections.posts | getPreviousCollectionItem %}
{% set nextPost = collections.posts | getNextCollectionItem %}
<div class="container ">
<div class="container back-link mb-5"><a href="/">Go back to homepage</a></div>    

<div class="container d-flex flex-column mb-5 project-decription-wrap">
    <h1 class="mb-3">{{ title }}</h1>
    <p>{{ typeOfWebsite }}</p>
    <div class="mt-3">
    <a href="{{ websiteLink }}" target="_blank" rel="noopener noreferrer" class="button btn project-link-button">View Website</a>
    </div>
</div>
<div class="container">
       <img class="img-fluid" src="{{ mainImageUrl }}" alt="{{ imageAlt }}"> 
</div>
<div class="container pt-4 pb-3 mt-5 ps-0 px-md-0 custom-border">
    <div class="row">
        <div class="col-12 col-md-4 ">
            <h3>Role</h3>
            <p>{{Role}}</p>
        </div>
         <div class="col-12 col-md-4 ">
            <h3>Date</h3>
            <p>{{ date | postDate }}</p>
         </div>
          <div class="col-12 col-md-4"><h3>Tools</h3>
           <p>
            {% for tag in tech %}
                <span>{{ tag }}</span>
              {% if not loop.last %}
                <span> |</span>
              {% endif %}
            {% endfor %}
            </p>
          </div>
    </div>
</div>
<div class="container mt-5 mb-5 post-content">
    <h2>Project description</h2>
    {{ content | safe}}
</div>
{# Next/Preview post navigation #}
<div class="container mb-5 d-flex justify-content-between"> 
    <div class="back-link pe-3">
        {% if previousPost %}
        <div class="d-flex">
         <div class="prev-arrow">  
            <a class="blog-nav-arrow" href="{{ previousPost.url }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" class="bi bi-caret-left-fill" viewBox="0 0 16 16"><path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg></a> 
         </div> 
         <div class="blog-link-prev">
            <span>Previous Project:</span> <a  href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
         </div>
        </div>
        {% endif %}
    </div> 
    <div class="back-link">
        {% if nextPost %}
        <div class="d-flex">
          <div class="blog-link-next">
            <span>Next Project: </span><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
          </div> 
          <div class="next-arrow">
            <a class="blog-nav-arrow" href="{{ nextPost.url }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/> </a>
            </svg>
           </div>  
        </div>
        {% endif %}
    </div> 
 </div> 
</div>

